# Python
__pycache__/
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/

# Environment files
.env
.env.local
.env.production.local

# Django
staticfiles/
media/
*.sqlite3

# Node / Next
node_modules/
.next/
frontend/.next
out/

# Docker
pgdata/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log
npm-debug.log*