# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
venv/
env/
.venv/

# Django
staticfiles/
media/
*.sqlite3

# Node
node_modules/
.next/
out/
.env.local
.env.production.local

# Docker volumes
pgdata/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
